*{
  box-sizing: border-box;
}

html{
  font-family: 'Sen', sans-serif;
}

main, header{
  width: 1170px;
  margin: 0 auto;
}

header{
  height:810px ;
}

.nav-bar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 140px;
}

.nav-right > a {
  margin: 0 50px 0 0;
  font-weight: 600;
  line-height: 12px;
  color: #13253A;
  font-size: 14px;
  text-decoration: none;
}

#contact{
  margin: 0;
}

/* Bottom header content starts here */


.bottom-section-header{
  display: flex;
  width: 100%;
}

.content{
  width: 470px;
  height: 261px;
  margin-right: 130px;
}

.sub-heading{
  font-weight: 500;
  color: #2557AB;
  margin:0;
}

.heading-bsm{
  font-weight: 700;
  font-size: 46px;
  color: #13253A;
  letter-spacing: -1px;
  margin: 5px 0 10px 0;

}

.text{
  color: #13253A;
  line-height: 27px;
  margin:0;
  opacity: 0.9;
}

.consultation{
  border-radius: 3px;
  background-color: #FF7F57;
  width: 336px;
  height: 60px;
  color: #FFF;
  text-align: center;
  font-weight: 600;
  margin:20px 0 0 0;
  font-size: 17px;
  border: none;
  cursor: pointer;

}

/* Our services section starts here */

.our-services{
  margin: 120px 0 100px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.our-services > div{
  display: flex;

}

.heading-os{
  color: #13253A;
  text-align: center;
  font-size: 38px;
  letter-spacing: -0.5px;
  margin: 5px 0 30px 0;
  width: 770px;
}

.services{
  width: 370px;
  height: 197px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 30px;
  
}

.services:last-of-type{
  margin: 0;
}

.services > p{
  text-align: center;
  color: #13253A;
  text-align: center;
  line-height: 27px;
  margin: 0;
}

.services > span{
  color: #3B4D6C;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  margin: 20px 0 5px 0;
  width: 370px;
}

/* Experience section starts here */

.experience-section{
  margin: 0 auto;
  width: 847px;
  display: flex;
  padding: 60px 0;
}

.experience{
  width: 215px;
  display: flex;
  flex-direction: column;
}

.numbers{
  color: #13253A;
  font-size: 46px;
  }

.experience >span:last-child{
  color: #2557AB;
  font-size: 16px;
  width: 215px;
}  

.experience:first-child{
  margin-right: 125px;
}

.experience:nth-child(2){
  margin-right: 157px;
}

.plus{
  color: #FF7F57;
  font-size: 46px;
}

/* About us section starts here */

.about-us{
  width: 970px;
  height: 500px;
  margin: 99px auto 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.heading-au{
  margin: 0 0 30px 0;
  color: #13253A;
  font-size: 38px;
  font-weight: 700;
}

.text-container{
  display: flex;
  margin-bottom: 60px;
}

.special-text{
  color: #13253A;
  font-size: 19px;
  font-style: italic;
  line-height: 30px;
  margin: 0 0 20px 0;
}

.left-text{
  margin-right: 30px;
}

.right-text > .text:last-child{
  margin-top: 35px;
}

.brands-container{
  display: flex;
  width: 970px;
  justify-content: space-between;
  align-items: center;
}


