*{
  box-sizing: border-box;
}

body{
  margin: 0;
  padding: 0;
}

.search-bar-section{
  background-image: url(../lesson10-test/lesson10-images/first-photo.png);
  width: 100%;
  height: 820px;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: josefin sans, sans-serif;
}

.search-bar-section > div{
  height: 318px;
  width: 34.3%;
}

.title-subtitle-container{
  text-align: center;
  display: flex;
  flex-direction: column;
  row-gap: 11px;
}

.title-subtitle-container > h1{
  color: #FFF;
  text-align: center;
  font-size: 3rem;
  font-weight: 700;
  letter-spacing: 4.8px;
  text-transform: uppercase;
  margin: 0;
}

.title-subtitle-container > h2{
  color: #FFF;
  text-align: center;
  font-size: 1.375rem;
  font-weight: 400;
  letter-spacing: 6.82px;
  margin: 0;
}

.search-bar{
  width: 100%;
  display: flex;
  align-items: center;
  margin: 48px 0 107px 0;
}

.search-bar > input {
  height: 63px;
  width: 77%;
  border: none;
  background-color: #FFF;
  padding: 0;
  text-align: center;

}

.search-bar > button{
  height: 63px;
  width: 22.2%;
  padding: 0;
  border: 1px solid #FFF; 
  background-color:#5474FD;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 6px;
  cursor: pointer;

}

.search-bar > button:hover {
  background-color: #768be9;
}

.search-bar > button > span {
  color: #FFF;
  text-align: center;
  font-family: Aleo;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 26px; /* 185.714% */
  letter-spacing: 1.4px;
  text-transform: uppercase;
}

.scroll-down{
  display: flex;
  flex-direction: column;
  row-gap: 12px;
  align-items: center;
}

.scroll-down > p {
  margin: 0;
  color: #FFF;
  font-size: 0.875rem;
  letter-spacing: 2.8px;

}

.scroll-down img {
  width: 17px;
  height: 11px;
}

nav{
  height: 83px;
  background-color: #5474FD;
  color: #FFF;
  display: flex;
  justify-content: center;
  
}

.hidden-nav-bar{
  height: 83px;
  background-color: #5474FD;
  color: #FFF;
  display: flex;
  justify-content: center;
  display: none;
}

.hidden-list{
  flex-direction: column;
  align-items: center;
  height: 60%;
  display: none;
}

.nav-content{
  width: 1171px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-right{
  display: flex;
}


.nav-right a{
  width: 128px;
  color: #FFF;
  font-family: Aleo;
  font-size: 0.875rem;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  }

.nav-right a:hover{
  text-decoration: underline;
}  

.nav-left span {
  color: #FFF;
  font-family: Josefin Sans;
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: 2.4px;
  text-transform: uppercase;
}

.why-choose-us{
  background-image: url(../lesson10-test/lesson10-images/second-photo.png);
  background-size: cover;
  width: 100%;
  height: 685px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.choose-us-content{
  width: 1110px;
  height: 450px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.choose-us-content > aside {
  color: #FFF;
  width: 50.5%;
  display: flex;
  flex-direction: column;
  row-gap: 50px;
  min-width: 285px;
}

.choose-us-content > aside > span{
  color: #FFF;
  font-family: Aleo;
  font-size: 2.25rem;
}

.paragraphs-choose-us{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #E8E8E8;
  font-family: Josefin Sans;
  font-size: 1rem;
  line-height: 26px;
  letter-spacing: 1.6px;
}

.choose-us-content > aside > .button-choose-us{
  background-color:#496BFE;
  width: 228px;
  height: 63px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.choose-us-content > aside > .button-choose-us:hover, .locations-content > .button-locations:hover{
  border: 1.5px solid white;
  cursor: pointer;
}

.choose-us-content > aside > .button-choose-us > span{
  color: #FFF;
  font-family: Aleo;
  font-size: 1rem;
  letter-spacing: 1.2px;
  text-transform: uppercase;
}

.paragraphs-choose-us > p {
  margin: 0;
}

.images-right > div{
  width: 440px;
}

.images-right > div:nth-child(2){
  text-align: end;
}

.how-it-works{
  width: 100%;
  height: 340px;
  background-color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
}

.how-it-works-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1005px;
}

.icons-top{
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 85.5%;
}

.icons-top > div {
  background-color: #333;
  width: 99px;
  height: 99px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

img[src*="lines"]{
  position: absolute;
  left: 49.5%;
  bottom: 35%;
  transform: translateX(-50%);
  width: 90%;
  z-index: 0;
}

.text-hiw-bottom{
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.text-hiw-bottom > span {
  color: #E8E8E8;
  text-align: center;
  font-family: Aleo;
  font-size: 2.25rem;
}

.locations{
  width: 100%;
}

.upper-section{
  background-image: url(../lesson10-test/lesson10-images/3rd-photo.png);
  background-size: cover;
  width: 100%;
  height: 760px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.lower-section{
  background-image: url(../lesson10-test/lesson10-images/4th-photo.png);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 760px;
}

.positioning{
  height: 562px;
  width: 1111px;
  display: flex;
}

.upper{
  justify-content: start;
  align-items: end;
}

.lower{
  justify-content: end;
  align-items: end;
}

.locations-content{
  max-width: 543px;
  height: 374px;
  background-color:rgba(35, 35, 35, 0.8);
  padding: 49px 30px 50px 30px;
}

.locations-content > span{
  color: #E8E8E8;
  font-family: Josefin Sans;
  font-size: 1.25rem;
  line-height: 26px; /* 130% */
  letter-spacing: 1.5px;
}

.locations-content > h2{
  color: #FFF;
  font-family: Josefin Sans;
  font-size: 1.25rem;
  line-height: 26px; /* 130% */
  text-transform: uppercase;
  margin: 23px 0 0 0;
}

.locations-content > p {
  color: #E8E8E8;
  font-family: Josefin Sans;
  font-size: 1rem;
  line-height: 26px; /* 162.5% */
  margin: 13px 0 46px 0;
}

.locations-content > .button-locations{
  width: 228px;
  height: 63px;
  display: flex;
  background-color:#5474FD;
  justify-content: center;
  align-items: center;
  cursor: pointer;

}

.locations-content > .button-locations > span{
  color: #FFF;
  font-family: Aleo;
  font-size: 1rem;
  letter-spacing: 1.2px;
  text-transform: uppercase;
}

.reviews{
  background-image: url(../lesson10-test/lesson10-images/5th-photo.png);
  background-size: cover;
  width: 100%;
  height: 793px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.reviews-content{
  width: 62.9%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 91px;
}

.photo-and-text{
  display: flex;
  align-items: center;
  height: 305px;
  min-width: 100%;
}

.photo-and-text > img {
  height: 305px;
}

.text-reviews{
  background-color:#333;
  height: 100%;
  width: 718px;
  padding: 49px 25px 39px 59px;
}

.title {
  color: #FFF;
  text-align: center;
  font-family: Aleo;
  font-size:2.25rem;
}

.text-reviews > h2 {
  color: #FEFEFE;
  font-family: Josefin Sans;
  font-size: 1.25rem;
  text-transform: uppercase;
  margin: 0;
}

.text-reviews > p{
  color: #E8E8E8;
  font-family: Josefin Sans;
  font-size: 1rem;
  line-height: 26px;
  margin: 8px 0 0 0;

}

.text-reviews > p > i{
  color: #5474FD;
  font-family: FontAwesome;
  font-size: 2.25rem;
  line-height: 26px; /* 72.222% */
}

footer{
  width: 100%;
  height: 271px;
  background-color:#232323;
  margin-top: -20px;
  display: flex;
  align-items: end;
  justify-content: center;
}

.positioning-footer{
  height: 198px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-content{
  width: 196px;
  height: 104px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;

}

.footer-content > h2{
  color: #FFF;
  font-family: Josefin Sans;
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: 3.36px;
  text-transform: uppercase;
  margin: 0;
}

.footer-content > span{
  color: #FFF;
  text-align: center;
  font-family: Josefin Sans;
  font-size: 1rem;
  letter-spacing: 1.6px;
}

.footer-content > div > a {
  width: 39px;
  color: #E8E8E8;
  text-align: center;
  font-family: FontAwesome;
  font-size: 1rem;
  letter-spacing: 1.6px;
  }

.footer-content > div {
  display: flex;
  gap: 5px;
}

.footer-content > div > a:nth-child(3) {
  color: #5474FD;
} 

@media screen and (max-width:1270px) {
  .search-bar > button > span {
    display: none;
  }

  .search-bar > button > img {
    width: 30px;
    height: 33px;
  }

  .search-bar-section > div {
    width: auto;
  }
  
}

@media screen and (max-width:1210px) {
  .photo-and-text > img {
    display: none;
  }

  .text-reviews{
    padding: 39px 15px 29px 49px;

  }


  .photo-and-text{
    width: 100%;
    height: 69.32%;
    min-width: 340px;
  }
}

@media screen and (max-width:900px) {
  .why-choose-us{
    height: 1280px;
  }

  .choose-us-content{
    flex-direction: column;
    height: 80%;
    justify-content: space-around;
  }

  .choose-us-content > aside {
    align-items: center;
    row-gap: 25px;
    min-width: 350px;
  }

  .images-right > div {
    width: 350px;
  }

  .images-right > div:nth-child(1) {
    margin-bottom:35px;
  }

  .images-right > div > img {
    opacity: 0.8;
  }

  .paragraphs-choose-us{
    text-align: center;
  }
} 

@media (max-width:725px) {
  .nav-content{
    flex-direction: column;
    justify-content: space-evenly;
  }
  
  .nav-right{
    width: 100%;
    justify-content: space-around;
  }

  .nav-right a{
    width: fit-content;

  }

  .search-bar{
    margin: 38px 0 57px 0;
  }
}


@media (max-width:655px) {
  .text-hiw-bottom{
    display: none;
  }

  .icons-top > div{
    width: 60px;
    height: 60px;
    
  }

  .how-it-works{
    height: 240px;
  }

  .upper, .lower{
    justify-content: center;
    align-items: center;
    
  }

  .locations-content{
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 39px 20px 40px 20px;
  }

  .button-locations{
    min-height: 37px;
  }

}

@media (max-width:460px) {
  .hidden-nav-bar{
    display: flex;

  }
  nav{
    display: none;
  }
  
}




